body,
html {
    background-image: url(style/background.webp);
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    
    --font-principal: Tahoma, Helvetica, Arial, sans-serif !important;
}

* {
    margin: 0;
    padding: 0;

}

.imagem-abaixo {
    position: relative;
}

.cabecalho {
    background-color: #00000080;
}

.ul_header {
    list-style-type: none;
    display: flex;
    gap: 40px;
    align-items: center;
    color: white;
    font-family: var(--font-principal)
}

.style_main {
    color: white;
    text-decoration: none;
    text-transform: uppercase;

}

.button_play {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

.button_play_img:hover {
    transform: scale(1.1);
}

.mainnews {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.titulo_menu {

    font-family: var(--font-principal);
    color: white;
    text-shadow: 2px 2px 4px black;

}

.imagemmain {
    width: 40%;
}



.menu_personagens {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-principal);

}

.mainnews {
    margin-top: 5%;
    padding: 0px;
    display: flex;
    justify-content: center;
}
.button-element{
    background: #ffffff80;
    border: none;
    cursor: pointer;
}

.national{
    color: white;
    font-size: 100px;
    text-align: center;
}

.texto_menu{
    text-transform: uppercase;
    font-size: 30px;
    font-family: var(--font-principal);
    color: white;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
    body, html {
        background-size: cover;
    }

    .ul_header {
        gap: 30px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .menu_personagens {
        flex-direction: column;
        gap: 20px;
    }

    .imagemmain {
        width: 100%;
    }

    .mainnews {
        font-size: 16px;
        flex-direction: column;
    }
    
    .titulo_menu {
        font-size: 20px;
    }

    .button-element {
        padding: 15px;
    }
}
